/*
/* openSans-regular */
@font-face {
  font-family: 'openSans';
  font-style: normal;
  font-weight: 400;
  src: url('./openSans-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./openSans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./openSans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./openSans-regular.woff') format('woff'), /* Modern Browsers */
       url('./openSans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./openSans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* openSans-600 */
@font-face {
  font-family: 'openSans';
  font-style: normal;
  font-weight: 600;
  src: url('./openSans-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./openSans-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./openSans-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./openSans-600.woff') format('woff'), /* Modern Browsers */
       url('./openSans-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./openSans-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
